// http://colllor.com/fbaf40
// http://colllor.com/233140
// http://colllor.com/939597
// function color(name) { let text = ''; for (let i = 1; i < 25; i++) { const color = document.getElementById(`${i}`).textContent; text += '$' + `ksi-${name}-${i * 10}: ${color};\n`; } console.log(text); }; color("orange");

$ksi-orange-10: #140C00;
$ksi-orange-20: #281801;
$ksi-orange-30: #3C2401;
$ksi-orange-40: #503102;
$ksi-orange-50: #643D02;
$ksi-orange-60: #784902;
$ksi-orange-70: #8C5503;
$ksi-orange-80: #A06103;
$ksi-orange-90: #B46D04;
$ksi-orange-100: #C87A04;
$ksi-orange-110: #DC8604;
$ksi-orange-120: #F09205;
$ksi-orange-130: #FA9C0F;
$ksi-orange-140: #FBA423;
$ksi-orange-150: #FBAD37;
$ksi-orange-160: #FBAF40;  // main
$ksi-orange-170: #FCBD5F;
$ksi-orange-180: #FCC573;
$ksi-orange-190: #FDCE87;
$ksi-orange-200: #FDD69B;
$ksi-orange-210: #FDDEAF;
$ksi-orange-220: #FEE6C3;
$ksi-orange-230: #FEEFD7;
$ksi-orange-240: #FFF7EB;

$ksi-blue-0: #070A0D;
$ksi-blue-1: #0E141A;
$ksi-blue-10: #161E27;
$ksi-blue-20: #1D2835;
$ksi-blue-30: #233140;
$ksi-blue-40: #2B3D4F;
$ksi-blue-50: #33475C;
$ksi-blue-60: #3A5169;
$ksi-blue-70: #415B76;
$ksi-blue-80: #486584;
$ksi-blue-90: #506F91;
$ksi-blue-100: #57799E;
$ksi-blue-110: #6183A8;
$ksi-blue-120: #6E8EAF;
$ksi-blue-130: #7B98B7;
$ksi-blue-140: #89A2BE;
$ksi-blue-150: #96ADC5;
$ksi-blue-160: #A3B7CC;
$ksi-blue-170: #B0C1D4;
$ksi-blue-180: #BDCCDB;
$ksi-blue-190: #CAD6E2;
$ksi-blue-200: #D8E0E9;
$ksi-blue-210: #E5EAF1;
$ksi-blue-220: #F2F5F8;

$ksi-gray-10: #0A0A0A;
$ksi-gray-20: #141415;
$ksi-gray-30: #1E1F1F;
$ksi-gray-40: #28292A;
$ksi-gray-50: #323334;
$ksi-gray-60: #3C3D3E;
$ksi-gray-70: #464749;
$ksi-gray-80: #505253;
$ksi-gray-90: #5A5C5E;
$ksi-gray-100: #646668;
$ksi-gray-110: #6E7072;
$ksi-gray-120: #787A7D;
$ksi-gray-130: #828587;
$ksi-gray-140: #8D8F91;
$ksi-gray-150: #939597;
$ksi-gray-160: #A1A3A5;
$ksi-gray-170: #ACADAF;
$ksi-gray-180: #B6B8B9;
$ksi-gray-190: #C1C2C3;
$ksi-gray-200: #CBCCCD;
$ksi-gray-210: #D5D6D7;
$ksi-gray-220: #E0E0E1;
$ksi-gray-230: #EAEBEB;
$ksi-gray-240: #F5F5F5;

$ksi-white: #fff;
$ksi-black: #000;

$ksi-red-100: var(--danger);
$ksi-green-100: var(--success);
$boostrap-primary: var(--primary);
$boostrap-warning: var(--warning);

// used in classic light mode
$ksi-code-builtin-dark: #30a;
$ksi-code-keyword-dark: #708;
$ksi-code-number-dark: #164;
$ksi-code-def-dark: #00f;
$ksi-code-comment-dark: #a50;;
$ksi-code-string-dark: #a11;;
$ksi-code-variable-2-dark: #05a;
$ksi-code-meta-dark: #555;

// used in dark mode
$ksi-code-builtin-light: #9573ff;
$ksi-code-keyword-light: #ed6dff;
$ksi-code-number-light: #70ffae;
$ksi-code-def-light: #46b4ff;
$ksi-code-comment-light: #ffaa55;
$ksi-code-string-light: #ee5a5a;
$ksi-code-variable-2-light: #66baff;
$ksi-code-meta-light: #b2aca2;
