// http://colllor.com/fbaf40
// http://colllor.com/233140
// http://colllor.com/939597
// http://colllor.com/f2d45c // yellow overrides orange
// http://colllor.com/0000dc // fi blue overrides ksi blue
// function color(name) { let text = ''; for (let i = 1; i < 25; i++) { const color = document.getElementById(`${i}`).textContent; text += '$' + `ksi-${name}-${i * 10}: ${color};\n`; } console.log(text); }; color("orange");

$ksi-orange-10: #130F02;
$ksi-orange-20: #261F03;
$ksi-orange-30: #392E05;
$ksi-orange-40: #4B3E06;
$ksi-orange-50: #5E4D08;
$ksi-orange-60: #715C09;
$ksi-orange-70: #846C0B;
$ksi-orange-80: #977B0C;
$ksi-orange-90: #AA8B0E;
$ksi-orange-100: #BD9A0F;
$ksi-orange-110: #D0A911;
$ksi-orange-120: #E2B912;
$ksi-orange-130: #EDC31D;
$ksi-orange-140: #EEC82F;
$ksi-orange-150: #F0CD42;
$ksi-orange-160: #F2D45C;
$ksi-orange-170: #F3D768;
$ksi-orange-180: #F4DC7B;
$ksi-orange-190: #F6E18E;
$ksi-orange-200: #F7E6A1;
$ksi-orange-210: #F9EBB4;
$ksi-orange-220: #FAF0C6;
$ksi-orange-230: #FCF5D9;
$ksi-orange-240: #FDFAEC;

$ksi-blue-10: #000014;
$ksi-blue-20: #000029;
$ksi-blue-30: #00003D;
$ksi-blue-40: #000052;
$ksi-blue-50: #000066;
$ksi-blue-60: #00007A;
$ksi-blue-70: #00008F;
$ksi-blue-80: #0000A3;
$ksi-blue-90: #0000B8;
$ksi-blue-100: #0000CC;
$ksi-blue-110: #0000DC;
$ksi-blue-120: #0000F5;
$ksi-blue-130: #0A0AFF;
$ksi-blue-140: #1F1FFF;
$ksi-blue-150: #3333FF;
$ksi-blue-160: #4747FF;
$ksi-blue-170: #5C5CFF;
$ksi-blue-180: #7070FF;
$ksi-blue-190: #8585FF;
$ksi-blue-200: #9999FF;
$ksi-blue-210: #ADADFF;
$ksi-blue-220: #C2C2FF;
$ksi-blue-230: #D6D6FF;
$ksi-blue-240: #EBEBFF;

$ksi-gray-10: #0A0A0A;
$ksi-gray-20: #141415;
$ksi-gray-30: #1E1F1F;
$ksi-gray-40: #28292A;
$ksi-gray-50: #323334;
$ksi-gray-60: #3C3D3E;
$ksi-gray-70: #464749;
$ksi-gray-80: #505253;
$ksi-gray-90: #5A5C5E;
$ksi-gray-100: #646668;
$ksi-gray-110: #6E7072;
$ksi-gray-120: #787A7D;
$ksi-gray-130: #828587;
$ksi-gray-140: #8D8F91;
$ksi-gray-150: #939597;
$ksi-gray-160: #A1A3A5;
$ksi-gray-170: #ACADAF;
$ksi-gray-180: #B6B8B9;
$ksi-gray-190: #C1C2C3;
$ksi-gray-200: #CBCCCD;
$ksi-gray-210: #D5D6D7;
$ksi-gray-220: #E0E0E1;
$ksi-gray-230: #EAEBEB;
$ksi-gray-240: #F5F5F5;

$ksi-white: #fff;
$ksi-black: #000;

$ksi-red-100: var(--danger);
$ksi-green-100: var(--success);
$boostrap-primary: var(--primary);
$boostrap-warning: var(--warning);
