body {
  &.theme-light {
    --ksi-orange-0: #140C00;
    --ksi-orange-1: #291800;
    --ksi-orange-10: #3D2400;
    --ksi-orange-20: #523000;
    --ksi-orange-30: #663C00;
    --ksi-orange-40: #7A4700;
    --ksi-orange-50: #8F5300;
    --ksi-orange-60: #A35F00;
    --ksi-orange-70: #B86B00;
    --ksi-orange-80: #CC7700;
    --ksi-orange-90: #E08300;
    --ksi-orange-100: #FB9400;  // http://colllor.com/fb9400
    --ksi-orange-110: #FF9900;
    --ksi-orange-120: #FFA21F;
    --ksi-orange-130: #FFAA33;
    --ksi-orange-140: #FFB347;
    --ksi-orange-150: #FFBB5C;
    --ksi-orange-160: #FFC370;
    --ksi-orange-170: #FFCC85;
    --ksi-orange-180: #FFD599;
    --ksi-orange-190: #FFDDAD;
    --ksi-orange-200: #FFE6C2;
    --ksi-orange-210: #FFEED6;
    --ksi-orange-220: #FFF7EB;

    --ksi-blue-100: #233140;
    --ksi-white: #fff;
  }

  &.theme-dark {
    // TBD
  }
}
