<ksi-admin-sidebar></ksi-admin-sidebar>
<div class="content-container">
    <div class="content">
        <h2>Opravování (🛠🐧)</h2>

        <div class="alert alert-warning">
            <p>🛠🐧 Work in progress...</p>
            <p>
                Please use
                <a class="nav-btn" [href]="oldFrontendUrl + '/admin/opravovani'" (click)="openExternal($event)">
                    old frontend
                </a>
                for grading.
            </p>
        </div>
    </div>
</div>