@import "src/app/styles/vars";

:host {
  .list-item-task {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "icon name name"
      "icon deadline deadline "
      "icon description description";
    align-items: end;
    line-height: 1;
    grid-gap: $ksi-margin-small;

    .icon {
      grid-area: icon;
      align-self: center;
      max-height: 3em;
    }

    .name {
      grid-area: name;
      font-weight: bold;
    }

    .deadline {
      grid-area: deadline;
      font-size: 0.7rem;
      margin-bottom: $ksi-margin-x-small;
    }

    .description {
      grid-area: description;
    }
  }
}
