<ksi-admin-sidebar></ksi-admin-sidebar>
<div class="content-container">
  <div class="content">
    <h2 class="title">{{'admin.email.title'|translate}}</h2>

    <form [formGroup]="emailForm" class="form form-group">
      <div class="row">
        <div class="col-md-6 col-xl-3">
          <label class="form-label" for="email-to">{{'admin.email.to.title'|translate}}</label>
          <select id="email-to" class="form-control" formControlName="to">
            <option *ngFor="let year of years.all$ | async" [value]="year.id">{{year.year}}</option>
          </select>
        </div>
        <div class="col-md-6 col-xl-3">
          <label class="form-label" for="email-successful">{{'admin.email.successful.title'|translate}}</label>
          <select id="email-successful" class="form-control" formControlName="successful">
            <option [value]="false">{{'admin.email.successful.all'|translate|titlecase}}</option>
            <option [value]="true">{{'admin.email.successful.successful'|translate|titlecase}}</option>
          </select>
        </div>
        <div class="col-md-6 col-xl-3">
          <label class="form-label" for="email-sex">{{'admin.email.sex.title'|translate}}</label>
          <select id="email-sex" class="form-control" formControlName="sex">
            <option *ngFor="let val of ['both', 'male', 'female']" [value]="val">{{'admin.email.sex.'+val|translate|titlecase}}</option>
          </select>
        </div>
        <div class="col-md-6 col-xl-3">
          <label class="form-label" for="email-school">{{'admin.email.school.title'|translate}}</label>
          <select id="email-school" class="form-control" formControlName="school">
            <option *ngFor="let val of ['both', 'hs', 'other']" [value]="val">{{'admin.email.school.'+val|translate|titlecase}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="form-label" for="email-subject">{{'admin.email.subject.title'|translate}}</label>
          <input class="form-control" id="email-subject" formControlName="subject">
        </div>
        <div class="col-md-6">
          <label class="form-label" for="email-type">{{'admin.email.type.title'|translate}}</label>
          <select id="email-type" class="form-control" formControlName="type">
            <option hidden value="null"></option>
            <option *ngFor="let val of ['ksi', 'event']" [value]="val">{{'admin.email.type.'+val|translate|titlecase}}</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label class="form-label" for="email-body">{{'admin.email.body'|translate}}</label>
          <div class="body-container">
            <quill-editor id="email-body" class="body" formControlName="body"></quill-editor>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-ksi w-100 btn-send" [disabled]="emailForm.disabled || !emailForm.valid">{{'admin.email.send.check'|translate}}</button>
        </div>
      </div>
    </form>
    <!-- TODO remove, only for debugging  -->
    <ng-container [ngTemplateOutlet]="modalMailCheck"></ng-container>
  </div>
</div>

<ng-template #modalMailCheck>
  <div class="modal-email">
    <div class="summary-container">
    <span
      [translate]="'admin.email.summary'"
      [translateParams]="{
        successful: (emailForm.controls.successful.value ? ('admin.email.successful.successful' | translate) : ('admin.email.successful.all' | translate)),
        sex: ('admin.email.sex.'+emailForm.controls.sex.value|translate),
        year: (selectedYearName$ | async),
        type:  ('admin.email.type.'+emailForm.controls.type.value|translate),
        school:  ('admin.email.school.'+emailForm.controls.school.value|translate)
      }"
    ></span>
    </div>

    <span class="form-label">{{'admin.email.subject.title'|translate}}</span>
    <div class="subject-container">
      {{emailForm.controls.subject.valueChanges | async}}
    </div>

    <span class="form-label">{{'admin.email.body'|translate}}</span>
    <div class="body" [innerHTML]="emailForm.controls.body.valueChanges | async"></div>
  </div>
</ng-template>
