@import "src/app/styles/vars";
@import "src/app/styles/mixins";

@include page-admin;

:host {
  .content {
    display: flex;
    flex-direction: column;

    .title {
      margin-top: $ksi-margin;
      text-align: center;
      margin-bottom: $ksi-margin;
    }

    .form {
      .form-label {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 0.9rem;
      }

      .body-container {
        background: $ksi-input-focus-bg;
      }

      .row {
        margin-top: $ksi-margin-small;
      }
    }
  }
}
