<ksi-spinner [source]="task$"></ksi-spinner>
<main *ngIf="(task$ | async) as task">
  <div class="head">
    <h2 class="task-title" [innerHTML]="task.head.title"></h2>
    <div *ngIf="(authors$ | async) as authors" class="authors-container">
      {{(authors.length > 1 ? 'tasks.author.multiple' : 'tasks.author.single') | translate}}:
      <ksi-users-inline class="authors" [users]="authors"></ksi-users-inline>
    </div>
    <span class="deadline">{{'tasks.deadline' | translate}}: {{task.head.time_deadline | date}}, {{task.head.max_score | translatePoints}}</span>
  </div>

  <div *ngIf="(subpage$ | async) !== templateBodyAssigment" class="back" >
    <a routerLink="." [fragment]="undefined">
      {{icon.BACK}} {{'tasks.back-to-assigment' | translate}}
    </a>
  </div>

  <ng-container [ngTemplateOutlet]="subpage$ | async"></ng-container>
</main>

<ng-template #bodyDiscussion>
  <ng-container *ngIf="(task$ | async) as task">
    <ksi-discussion-thread [threadId]="task.detail.taskDetails.thread"></ksi-discussion-thread>
  </ng-container>
</ng-template>

<ng-template #bodyAssigment>
  <ng-container *ngIf="(task$ | async) as task">
    <article class="body">
      <ksi-task-body [body]="task.detail.taskDetails.body" [trusted]="true"></ksi-task-body>
    </article>

    <div class="bottom">
      <a class="discussion" routerLink="." [fragment]="routes.routes.tasks.discussion">
        <span class="icon">{{icon.DISCUSSION}}</span>
        <span>{{'tasks.discussion' | translate}}</span>
        <span>({{task.detail.posts.length}})</span>
      </a>

      <div class="right-container">
        <a *ngIf="task.detail.taskDetails.solution" class="solution" routerLink="." [fragment]="routes.routes.tasks.solution">
          {{'tasks.solution' | translate}}
        </a>

        <a *ngIf="task.detail.taskDetails.best_scores.length > 0" class='results' routerLink="." [fragment]="routes.routes.tasks.results">
          {{'tasks.results' | translate}} ({{task.detail.userScores.length}})
        </a>
      </div>
    </div>

    <div class="modules">
      <ksi-task-module class="module" *ngFor="let module of task.detail.modules" [module]="module">
      </ksi-task-module>
    </div>
  </ng-container>
</ng-template>

<ng-template #bodySolution>
  <ng-container *ngIf="(task$ | async) as task">
    <ksi-feedback [feedbackId]="task.head.feedbacks" [taskId]="task.head.id">
    </ksi-feedback>
    <article *ngIf="task.detail.taskDetails.solution" class="body">
      <ksi-task-body [body]="task.detail.taskDetails.solution" [trusted]="true"></ksi-task-body>
    </article>
  </ng-container>
</ng-template>

<ng-template #bodyResults>
  <ng-container *ngIf="(task$ | async) as task">
    <table class="table table-striped results-table table-responsive-md" ksiTheme>
      <thead>
      <tr>
        <th scope="col" class="text-center">{{'results.table.position' | translate}}</th>
        <th scope="col">{{'results.table.name' | translate}}</th>
        <th scope="col">{{'results.table.trophies' | translate}}</th>
        <th scope="col" class="text-center">{{'results.table.score' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let userScore of (userScores$ | async); let i = index">
        <td class="text-center">{{i+1}}.</td>
        <td><a [routerLink]="['/', routes.routes.profile._, userScore.user.id]">{{userScore.user.first_name}} {{userScore.user.last_name}}</a></td>
        <td>
          <ksi-icon-achievement *ngFor="let ach of userScore.user.achievements" [achievementId]="ach"></ksi-icon-achievement>
        </td>
        <td class="text-center">{{userScore.score}}</td>
      </tr>
      </tbody>
    </table>
  </ng-container>
</ng-template>
