<ng-container *ngIf="task$ | async as task">
  <a [class.disabled]="(user.isLoggedIn$ | async) && task.state === 'locked'"
     [routerLink]="(user.isLoggedIn$ | async) && task.state === 'locked' ? undefined : './' + task.id"
     [tooltip]="tooltip"
     class="container"
     container="body"
     containerClass="task-icon"
     placement="bottom"
  >
    <img
      [src]="task.icon"
      alt="{{ 'tasks.graph.task' | translate: {name: task.title} }}"
    >
    <span class="invisible-title">{{task.title}}</span>
  </a>

  <ng-template #tooltip>
    <div class="name">{{task.title | uppercase}}</div>
    <p class="description" [innerHTML]="task.intro"></p>
    <div class="stats">{{task.time_deadline | date}}, {{task.max_score | translatePoints}}</div>
  </ng-template>
</ng-container>
