<ksi-spinner [source]="nonEmptyWaves$"></ksi-spinner>
<ng-container *ngIf="(viewMode$ | async) !== 'graph' ; else graph">
  <accordion class="waves" [isAnimated]="true">
    <accordion-group
      *ngFor="let wave of (nonEmptyWaves$ | async)"
      [heading]="wave.caption"
      [isOpen]="wave.opened"
      (isOpenChange)="waveOpenChanged(wave, $event)"
    >
      <ksi-wave [wave]="wave" [viewMode$]="viewMode$"></ksi-wave>
    </accordion-group>
  </accordion>
</ng-container>
<ng-template #graph>
  <ksi-tasks-graph class="graph" *ngIf="tasks.tasks$ | async as tasks" [tasks]="tasks"></ksi-tasks-graph>
</ng-template>

<div class="settings-container">
  <button *ngIf="!(window.isMobile$ | async)"
          (click)="showSettings()"
          class="btn btn-outline-primary settings"
          [attr.aria-label]="'tasks.settings.open-button' | translate"
          [tooltip]="'tasks.settings.open-button' | translate"
          placement="left"
          container="body"
  >
    ?
  </button>
</div>

<ng-template #modalSettings>
  <div class="custom-control custom-switch">
    <input [formControl]="splitWavesControl" type="checkbox" class="custom-control-input" id="tasks-settings-switch-view">
    <label class="custom-control-label" for="tasks-settings-switch-view">{{'tasks.settings.split-waves' | translate}}</label>
  </div>
</ng-template>
