@import "src/app/styles/vars";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .waves {
    margin-top: $ksi-margin;
    max-width: 24cm;
    width: 100%;
  }

  .graph {
    margin-top: $ksi-margin-large;
  }
}
