@import "src/app/styles/vars";
@import "src/app/styles/mixins";

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .waves {
    margin-top: $ksi-margin;
    @include ksi-full-width;
  }

  .graph {
    margin-top: $ksi-margin-large;
  }

  .settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $ksi-margin;
    @include ksi-full-width;

    .btn {
      width: 90%;
    }
  }
}

.settings-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify-all;
}
