<div class="header">
  <span class="name">
    {{ module.name }}
    <span *ngIf="user.isTester$ | async">
     ({{module.id}})
  </span>
  </span>
  <span class="points">
    {{ module.max_score | translatePoints }}
  </span>
</div>

<article class="description">
  <ksi-task-body [body]="module.description"></ksi-task-body>
</article>

<div [ngSwitch]="module.type" class="content">
  <ksi-task-module-text *ngSwitchCase="'text'" [module]="moduleAny"></ksi-task-module-text>
  <ksi-task-module-quiz *ngSwitchCase="'quiz'" [module]="moduleAny"></ksi-task-module-quiz>
  <div class="alert alert-danger" *ngSwitchDefault>ERR: Unknown module type: {{module.type}}</div>
</div>

<div *ngIf="statusChanges$ | async as status"
     [class]="' result alert alert-' + (status.result === 'ok' ? 'success' : 'danger')"
>
  {{ status.error || status.message || status.report }}
</div>
