@import "src/app/styles/vars";
@import "src/app/styles/mixins";

:host {
  display: block;
  padding: $ksi-padding 0;

  --border-color: #{$ksi-orange-140};
  $border-color: var(--border-color);

  &.result-ok {
    --border-color: var(--success);
  }

  &.result-bad {
    --border-color: var(--danger);
  }

  border: 2px solid $border-color;
  transition: border-color 0.5s;
  @include round-corner;

  > * {
    padding: 0 $ksi-padding;
  }

  .header {
    padding-bottom: $ksi-padding;
    border-bottom: 2px solid $border-color;
    transition: border-color 0.5s;
    display: flex;
    justify-content: space-between;

    .name {
      font-weight: bold;
    }
  }

  .description {
    padding-top: $ksi-padding;
  }

  .result {
    text-align: center;
    padding: 0;
    margin: $ksi-margin $ksi-margin-small $ksi-margin-small;

    &.error, &.nok {
      background: $ksi-red-100;
    }
  }
}
