<div class="schedule">
  <h1 class="name">
    <span>
      {{'schedule.title' | translate}}
    </span>
  </h1>
<p>
Od 15. září do 19. září 2025 proběhne fyzicky na Fakultě informatiky Masarykovy univerzity přípravný týden Naskoč na FI – série workshopů a aktivit, které pomohou novým studentům FI lépe se začlenit a neztratit se ani na fakultě, ani ve studijních povinnostech.

Podrobný harmonogram přípravného týdne zveřejníme začátkem září – sledujte proto svůj e-mail, tento web či sociální sítě fakulty, ať vám nic neunikne.
</p>
<p>
Níže uvedený kalendář aktivit je k dispozici také jako <strong>veřejný Google kalendář </strong>. Můžete si jej tedy přidat do svých vlastních kalendářů a zařízení, abyste tak nic nezmeškali.
<a href="https://calendar.google.com/calendar/u/2?cid=Y18xYzcwMzg0ODM3MmFlZTFiMjU4ZTQxNWRiOGExMDEwNjFjNzNlZTQ5NzM0NmVhMzVhZGZiODM2YzYzZWQ5MWE0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20"> Kliknutím na tento odkaz získáte přístup ke kalendáři.</a> 
</p>

<iframe src="https://calendar.google.com/calendar/embed?src=c_1c703848372aee1b258e415db8a101061c73ee497346ea35adfb836c63ed91a4%40group.calendar.google.com&ctz=Europe%2FPrague&color=%238E24AA&dates=20250915/20250919&height=600&wkst=2&bgcolor=%23f2d45c&showCalendars=0&mode=WEEK&showTabs=0&showPrint=0&title=Harmonogram%20aktivit&showDate=0&showTitle=0&showNav=0&showTz=0&" style="border-width:0" width="60%" height="600" frameborder="0" scrolling="no"></iframe>

</div>
