<article>
<div class="schedule">
  <h1 class="name">
    <span>
      {{'schedule.title' | translate}}
    </span>
  </h1>
<p>
Od 15. září do 19. září 2025 proběhne fyzicky na Fakultě informatiky Masarykovy univerzity přípravný týden Naskoč na FI – série workshopů a aktivit, které pomohou novým studentům FI lépe se začlenit a neztratit se ani na fakultě, ani ve studijních povinnostech. Níže najdeš přehledný harmonogram akce a mapu budov, ve kterých se konají v 1. týdnu semestru vybrané přednášky běžnách předmětů.
</p>
<p>
Jak to bude celé fungovat? Na každý typ workshopu jsme v ISu nachystali vlastní předmět, ty se všem studujícím 1. ročníku automaticky zapsali na konci srpna. Od 3. září v 17:00 se pak v ISu otevře přihlašování na konkrétní termíny workshopů pomocí seminárních skupin – tehdy si zapisuješ i semináře běžných předmětů. Kapacity místností na workshopy jsou omezené, tak na zápis seminárních skupin nezapomeň.
</p>

<h2 id="mapa">Mapa budov</h2>

<p>
Naše fakulta využívá několik budov rozmístěných v různých částech města.  
Na mapě níže najdete jejich umístění, možnosti dopravy MHD i pěší dostupnost.
</p>

<div class="schedule-container">
    <img src="assets/img/schedule/Naskoč na FI mapa.png" alt="Map of buildings" class="schedule-image">
</div>  

<h2 id="harmonogram">Harmonogram</h2>

<p>
Interaktivní harmonogram je k dispozici jako PDF <a href="https://fi.muni.cz/files/fi-graphics/naskoc-na-fi-2025-program.pdf"><b>zde na webu fakulty</b></a>. Kliknutím na časový slot se dostaneš přímo na zapisování daného workshopu v ISu – toto zapisování seminárních skupin běží od 3. 9. 17:00. Kliknutím na místnost workshopu se ti otevře detail místnosti s mapou v ISu.
</p>

<div class="schedule-container">
    <img src="assets/img/schedule/Naskoc program 1.png" alt="Schedule part 1" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 2.png" alt="Schedule part 2" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 3.png" alt="Schedule part 3" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 4.png" alt="Schedule part 4" class="schedule-image">
    <img src="assets/img/schedule/Naskoc program 5.png" alt="Schedule part 5" class="schedule-image">
</div>  

</div>
</article>
