@import "src/app/styles/vars";

:host {
  @media print {
    display: none;
  }

  nav {
    &.clickable {
      cursor: pointer;
    }

    padding: $ksi-padding;
    background: $ksi-navbar-bg;
    line-height: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 4px solid $ksi-page-welcome-banner-bg;

    @media screen and (max-width: $ksi-max-small-mobile-width) {
      flex-direction: column;
      text-align: center;

      .navigation, .categories {
        flex-direction: column;
        margin: 0 $ksi-margin;
      }

      .nav-btn {
        margin: $ksi-margin-x-small;
      }

      .dropdown {
        margin: $ksi-margin-small;
      }
    }

    .logo {
      &.active {
        font-weight: bold;
      }

      &:hover:not(.active) {
        text-shadow: 1px 0 $ksi-navbar-fg;
      }

      transition: text-shadow 0.2s;
      white-space: break-spaces;
      text-decoration: none;
      color: $ksi-navbar-fg;
      display: flex;
      align-items: center;
      flex-shrink: 3;
      text-align: center;

      img {
        height: 3em;
        margin-right: $ksi-margin-small;
      }
    }

    .navigation {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
    }

    .categories {
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      margin-left: $ksi-margin-x-large;
      justify-content: flex-start;

      @media screen and (max-width: $ksi-max-mobile-width) {
        justify-content: center;
      }

      align-items: center;
    }

    .nav-btn {
      color: $ksi-navbar-fg;
      padding: $ksi-padding;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.1s;

      &.active,&:hover,&[aria-expanded=true] {
        background: $ksi-page-welcome-banner-bg !important;
      }
    }

    .login-container {
      justify-self: flex-end;
      display: inline-block;

      .dropdown-menu {
        color: $ksi-page-fg;
        background-color: $ksi-page-bg;

        button {
          text-align: center;
          padding: $ksi-padding-small;
        }
      }

      .nav-btn {
        background: $ksi-page-welcome-banner-bg;
        @media screen and (max-width: $ksi-max-small-mobile-width) {
          background: unset;
        }

        .username {
          display: inline-block;
          max-width: 40ex;
          font-size: 1rem;
          line-height: 1;
          overflow-x: hidden;
          overflow-y: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .menu-opener {
    color: $ksi-navbar-fg;
  }
}
