@import "src/app/styles/vars";

:host {
  @media print {
    display: none;
  }

  .navigation-bar {
    padding: 10px 16px;
    line-height: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (max-width: $ksi-max-small-mobile-width) {
      flex-direction: column;
      text-align: center;

      .navigation,
      .categories {
        flex-direction: column;
        margin: 0 $ksi-margin;
      }

      .nav-btn {
        margin: $ksi-margin-x-small;
      }

      .dropdown {
        margin: $ksi-margin-small;
      }
    }

    .logo {
      &.active {
        font-weight: bold;
      }


      span {
        max-width: 21ch;
        text-align: left;
      }

      transition: text-shadow 0.2s;
      white-space: break-spaces;
      text-decoration: none;
      color: $ksi-navbar-fg;
      display: flex;
      align-items: center;
      flex-shrink: 3;
      text-align: center;
      width: fit-content;


      img {
        height: 3em;
        margin-right: $ksi-margin-small;
      }
    }

    .navigation {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr auto 1fr;

      align-items: center;

      @media screen and (max-width: $ksi-max-mobile-width) {
        // Horizontal layout
        display: flex;
        justify-content: center;

      }
    }

    .login-container-wrapper {
      justify-self: end;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;

      @media screen and (max-width: $ksi-max-small-mobile-width) {
        justify-content: center;
        flex-direction: column;
      }
    }

    .categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 4px;

      @media screen and (max-width: $ksi-max-mobile-width) {
        justify-content: center;
      }

      align-items: center;
    }

    .login-container {
      justify-self: flex-end;
      display: inline-block;

      .dropdown-menu {
        color: $ksi-page-fg;
        background-color: $ksi-page-bg;

        button {
          text-align: center;
          padding: $ksi-padding-small;
          color: $ksi-page-fg;

          &:hover {
            background: $ksi-dropdown-hover-bg;
          }
        }
      }

      .nav-btn {
        background: $ksi-page-welcome-banner-bg;

        @media screen and (max-width: $ksi-max-small-mobile-width) {
          background: unset;
        }

        .username {
          display: inline-block;
          max-width: 40ex;
          font-size: 1rem;
          line-height: 1;
          overflow-x: hidden;
          overflow-y: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .menu-opener {
    color: $ksi-navbar-fg;
    padding: 6px;
  }

  >.navbar-separator {
    height: 4px;
    background: $ksi-page-welcome-banner-bg;
    padding: 0;
    margin: 0;
    transition: background 0.5s;

    &.loading {
      background: repeating-linear-gradient(45deg, $ksi-page-welcome-banner-bg, $ksi-navbar-bg);
      background-size: 200%;
      animation: 1.5s loading-progress infinite linear;
    }

    @keyframes loading-progress {
      0% {
        background-position: top left;
      }

      50% {
        background-position: bottom right;
      }

      100% {
        background-position: top left;
      }
    }
  }
}