<form *ngFor="let question of module.questions; let questionGroup = index">
  <ksi-task-body [body]="question.text"></ksi-task-body>
  <ksi-task-body [body]="question.question"></ksi-task-body>
  <ul class="answers">
    <li *ngFor="let option of question.options; let optionIndex = index" class="answer">
      <div [class]="'custom-control custom-' + question.type">
        <input [id]="'quiz-module-question-' + module.id + '-' + questionGroup + '-' + optionIndex"
               class="custom-control-input"
               name="answer"
               [type]="question.type"
               (change)="setChecked($event, question.type, questionGroup, optionIndex)"
        >
        <label class="custom-control-label" [for]="'quiz-module-question-' + module.id + '-' + questionGroup + '-' + optionIndex">
          <ksi-task-body [body]="option"></ksi-task-body>
        </label>
      </div>
    </li>
  </ul>
</form>

<button class="btn btn-ksi submit" (click)="submit()">{{'tasks.module.submit'|translate}}</button>
