@import "src/app/styles/vars";

.footer-above {
  .links-container {
    .links-wrapper {
      display: flex;
      justify-content: center;

      a {
        margin: $ksi-margin-x-small;
      }

      a:hover {
        img {
          transform: scale(1.1);
        }
      }

      img {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

:host {
  padding: $ksi-padding-small $ksi-padding-small;
  background: $ksi-navbar-bg;
  color: $ksi-navbar-fg;
  font-size: 0.75rem;

  @media print {
    display: none;
  }

  a {
    color: $ksi-footer-link-fg;

    &:hover {
      color: $ksi-footer-link-fg-hover;
    }
  }

  .version {
    cursor: pointer;
  }
}
