@import "src/app/styles/vars";

:host {
  padding: $ksi-padding-small $ksi-padding-small 0;
  display: flex;
  background: $ksi-navbar-bg;
  color: $ksi-navbar-fg;
  justify-content: space-between;

  @media print {
    display: none;
  }

  .version {
    font-size: 0.75rem;
    cursor: pointer;
  }
}
