@import "src/app/styles/vars";

:host {
  padding: $ksi-padding-small $ksi-padding-small;
  background: $ksi-page-welcome-banner-bg;
  color: $ksi-navbar-fg;
  font-size: 0.75rem;

  @media print {
    display: none;
  }

  .version {
    cursor: pointer;
  }

  ::ng-deep {
    a {
      color: $ksi-footer-link-fg;

      &:hover {
        color: $ksi-footer-link-fg-hover;
      }
    }
  }
}
