@import "src/app/styles/vars";
@import "src/app/styles/mixins";

:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: $ksi-padding $ksi-padding 0;

  .title {
    color: $ksi-gray-30;
    text-align: center;
    margin-bottom: $ksi-margin-large;
  }

  .full-discussion {
    margin: $ksi-margin 0;
  }

  .thread {
    @include ksi-full-width;
  }
}
