<div #codeEditor class="code-editor"></div>
<div class="buttons">
  <button [disabled]="codeRun$" class="btn btn-ksi run" (click)="runCode()">{{'tasks.module.programming.run'|translate}}</button>
  <button [disabled]="submission$" class="btn btn-ksi submit" (click)="submit()">{{'tasks.module.submit'|translate}}</button>
  <button class="btn btn-ksi download" (click)="download()">{{'tasks.module.programming.download'|translate}}</button>
  <button class="btn btn-ksi upload" (click)="upload()">{{'tasks.module.programming.upload'|translate}}</button>
  <button class="btn btn-ksi reset" (click)="reset()">{{'tasks.module.programming.reset'|translate}}</button>
</div>

<input #uploadFile type="file" style="display: none" (change)="replaceCode($event)">

<ng-container *ngIf="codeRunResult$ | async as result">
  <div *ngIf="result.result === 'error'" class="alert alert-danger report-heading">
    {{result.message}}
  </div>

  <h6 class="report-heading">{{'tasks.module.programming.run-result'|translate}}</h6>
  <textarea #runOutput class="area-code-output" [value]="result.stdout || ''" [readOnly]="true"></textarea>

  <ng-container *ngIf="linting$ !== null">
    <ksi-spinner [source]="linting$"></ksi-spinner>
  </ng-container>
  <ng-container *ngIf="(linting$ | async) as lintReport">
    <div *ngIf="!lintReport.problems.length; else lintProblems" class="alert alert-success lint-result">
      {{'tasks.module.programming.lint.no-problems-found'|translate}}
    </div>
    <ng-template #lintProblems>
      <div class="alert alert-warning lint-result">
        <div class="problems">
          {{'tasks.module.programming.lint.problems-found'|translate:{count: lintReport.problems.length} }}
        </div>
        <div>
          <ul>
            <li *ngFor="let problem of lintReport.problems">
              <div class="problem">
                line {{problem.line}}: {{problem.text}}
              </div>
            </li>
          </ul>
        </div>
        <div>
          <a
            class="btn btn-ksi w-100"
            [href]="lintReport.editorUrl"
            target="_blank"
            [tooltip]="'tasks.module.programming.lint.tooltip'|translate"
          >
            {{'tasks.module.programming.lint.text'|translate}}
          </a>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="user.isOrg$ | async">
    <h6 class="report-heading">{{'tasks.module.report'|translate}}</h6>
    <textarea class="area-code-output" [value]="result.report || ''" [readOnly]="true"></textarea>
  </ng-container>
</ng-container>
