@import "src/app/styles/vars";

:host {
  .buttons {
    margin-top: $ksi-margin-small;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: $ksi-margin;

    &>* {
      flex-grow: 1;
      z-index: 1;
      margin-top: $ksi-margin-small;
    }

  }

  .toggle-btn {
    min-width: 50px;

    &::after {
      display: none;
    }
  }


  .report-heading {
    margin-top: $ksi-margin;
  }

  .lint-result {
    text-align: left;

    .problems {
      padding-bottom: $ksi-margin-small;
    }
  }
}