@import "src/app/styles/vars";
@import "src/app/styles/colors";

:host {
  display: block;

  .arrows-container {
    width: 0;
    height: 0;
    overflow: visible;

    .arrows {
      ::ng-deep line {
        stroke: $ksi-orange-150;
        stroke-width: 4;
        opacity: 0;

        &.animated {
          animation-name: fade-in;
          animation-fill-mode: forwards;
          animation-duration: 2s;
        }
      }

      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: $ksi-margin-large;

    .task:not(:last-child) {
      margin-right: $ksi-margin-large;
    }
  }
}
