@import "src/app/styles/vars";
@import "src/app/styles/colors";

:host {
  display: block;

  .canvas-container {
    width: 0;
    height: 0;
    overflow: visible;

    .arrow-canvas {
      stroke: $ksi-orange-150;
      stroke-width: 4;
    }
  }

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: $ksi-margin-large;

    .task:not(:last-child) {
      margin-right: $ksi-margin-large;
    }
  }
}
