@import "src/app/styles/vars";
@import "src/app/styles/mixins";

:host {
  .content {
    height: 100%;
    border-right: 4px solid $ksi-page-welcome-banner-bg;
    border-bottom: 1px solid $ksi-page-welcome-banner-bg;
    background: $ksi-navbar-bg;
    position: relative;
  }

  nav {
    padding: $ksi-margin $ksi-margin-small;
    margin-right: $ksi-margin-small;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: sticky;
    top: 0;

    &.hidden {
      display: flex;
      justify-content: center;
      cursor: pointer;
      padding-top: $ksi-padding-large;
    }

    .title {
      color: $ksi-navbar-fg;
      text-decoration: none;
      margin-bottom: $ksi-margin-small;

      &.active {
        cursor: default;
        font-weight: bold;
      }
    }
  }
}
