<ng-container *ngIf="visible$ | async; else hidden">
  <div class="content" [class.clickable]="window.isMobile$ | async" (click)="hideFullMenu($event)">
    <nav class="navigation-bar">
      <a class="title" [routerLink]="['/', routes.routes.admin._]" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">{{'admin.navbar.title'|translate}}</a>

      <a class="nav-btn" [routerLink]="['/', routes.routes.admin._, routes.routes.admin.tasks]" routerLinkActive="active" (click)="hideFullMenu($event)">
        {{'admin.navbar.tasks' | translate}}
      </a>
      <a class="nav-btn" [routerLink]="['/', routes.routes.admin._, routes.routes.admin.monitor]" routerLinkActive="active" (click)="hideFullMenu($event)">
        {{'admin.navbar.monitor' | translate}}
      </a>
      <a class="nav-btn" [routerLink]="['/', routes.routes.admin._, routes.routes.admin.email]" routerLinkActive="active" (click)="hideFullMenu($event)">
        {{'admin.navbar.email' | translate}}
      </a>
      <a class="nav-btn" [routerLink]="['/', routes.routes.admin._, routes.routes.admin.discussion]" routerLinkActive="active" (click)="hideFullMenu($event)">
        {{'admin.navbar.discussion' | translate}}
      </a>
<!--      <a class="nav-btn" [routerLink]="['/', routes.routes.admin._, routes.routes.admin.achievements]" routerLinkActive="active" (click)="hideFullMenu($event)">-->
<!--        {{'admin.navbar.achievement' | translate}}-->
<!--      </a>-->
      <a *ngIf="userService.isAdmin$ | async" class="nav-btn" [routerLink]="['/', routes.routes.admin._, routes.routes.admin.instanceConfig]" routerLinkActive="active" (click)="hideFullMenu($event)">
        {{'admin.navbar.instance-config' | translate}}
      </a>
      <ng-container *ngIf="oldFrontendUrl">
        <a *ngFor="let oldLink of oldFrontendButtons"
           class="nav-btn"
           [href]="oldFrontendUrl + '/admin/' + oldLink[0]"
           (click)="openExternal($event)"
        >
          {{oldLink[1]}}
        </a>
      </ng-container>

      <div *ngIf="window.isMobile$ | async" class="hide-button clickable">{{icon.BACK}}</div>
    </nav>
  </div>
</ng-container>

<ng-template #hidden>
  <div class="content" [class.clickable]="window.isMobile$ | async" (click)="showFullMenu($event)">
    <nav class="navigation-bar hidden">
      <span>{{icon.FORWARD}}</span>
    </nav>
  </div>
</ng-template>
