@import "styles/vars";

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    background: $ksi-orange-220;

    .page {
      flex-grow: 1;
    }
  }
}
