@import "styles/theme";

:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    background: $ksi-page-bg;
    color: $ksi-page-fg;

    @media print {
      background: #fff;
      overflow: visible;
      width: 27cm;
    }

    .page {
      flex-grow: 1;
    }
  }
}
