<ksi-admin-sidebar></ksi-admin-sidebar>
<div class="content-container">
  <div class="content">
    <h2 class="title">{{'admin.discussion.title'|translate}}</h2>

    <ksi-admin-wave-selector [allowAll]="false" (waveFilter)="waveFilterSubj.next($event)"></ksi-admin-wave-selector>

    <ksi-spinner [source]="threads$"></ksi-spinner>

    <table class="table table-striped table-hover table-responsive-md threads" ksiTheme>
      <thead>
      <tr>
        <th scope="col">{{'discussion.name' | translate}}</th>
        <th scope="col">{{'discussion.posts-count' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr [routerLink]="routePrefix + thread.id" class="clickable" *ngFor="let thread of (threads$ | async)">
        <td><a [routerLink]="routePrefix + thread.id" [class.has-unread]="thread.unread">{{thread.title}}</a></td>
        <td>
          <a [routerLink]="routePrefix + thread.id">
            {{thread.posts_count}}
            <span class="new-posts-count" *ngIf="thread.unread">
            ({{thread.unread | translateNewItems}})
          </span>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
