<article>
  <h2>O Naskoč na FI</h2>
  <p>Naskoč na FI je online seminář určený pro studenty nově nastupující na Fakultu informatiky Masarykovi univerzity.
    Tento seminář si klade za cíl představit jeho řešitelům různé úlohy z témat informatiky a vysokých škol.
  </p>

  <h3>Jak seminář probíhá?</h3>
  <p>
    Středobodem semináře je graf úloh, který se snažíš projít a&nbsp;po cestě vyřešit co nejvíce úloh zvládneš.
    Graf ti postupně představuje základní myšlenky, pojmy a&nbsp;postupy formou snadných úloh, jejichž
    správnost se vyhodnocuje okamžitě automaticky.
  </p>

  <p>
    Témat probíraných v Naskoč je více a jsou všechna dostupná zároveň. To znamená,
    že pokud jedno z probíraných témat perfektně ovládáš, můžeš jej klidně přeskočit a podívat se na další.
  </p>

  <p>
    S&nbsp;ostatními účastníky i&nbsp;organizátory semináře můžeš diskutovat o postupu přímo u jednotlivých úloh,
    diskuze mezi řešiteli navzájem je velmi vítána. <strong>Neprozrauj ale prosím v diskuzi řešení úloh.</strong>
  </p>

  <h3>Jaké úlohy mám očekávat?</h3>
  <p>
    Tvým úkolem ve většině úloh bude řešení algoritmického či programátorského problému, najití tzv. vlajky, či něco podobného.
    Někdy bude stačit popsat řešení jen obecně pomocí pseudokódu, jindy po tobě budeme chtít i&nbsp;program v&nbsp;Pythonu.
    Pokud programovat neumíš nebo programuješ v&nbsp;jiném jazyce, nemusíš se ničeho bát.
    Python je jedna z věcí, kterou ti v tomto semináři představíme.
    Vždyť přece kolik jazyků umíš, tolikrát jsi člověkem. ;)
  </p>
  <p>Některé z&nbsp;našich úloh mohou být složité nebo pracné, i&nbsp;když s&nbsp;dobrým nápadem se většinou dají vyřešit
    rychle a&nbsp;elegantně. Není třeba vyřešit všechny úlohy – pošli nám, co zvládneš, a&nbsp;zbytek si po uzavření úlohy
    můžeš přečíst ve vzorovém řešení. Také není nutné, abys měl(a) úlohu kompletně dořešenou. I&nbsp;pokud máš jen nějaké
    nápady co s&nbsp;ní, napiš nám je a&nbsp;my tvoji snahu určitě oceníme.</p>

  <h3>Proč se účastnit?</h3>
  <ul>
    <li><p>Procvičíš si programátorské, matematické a&nbsp;logické myšlení a&nbsp;schopnost řešit nelehké problémy s&nbsp;využitím
      počítače. Získáš nové znalosti a&nbsp;naučíš se algoritmy běžně používané v&nbsp;každodenní programátorské
      praxi.</p></li>

    <li><p>Naučíš se své myšlenky jasně formulovat a&nbsp;srozumitelně vyjadřovat.</p></li>

    <li><p>Přiblíží se ti látka vyučovaná na vysokých školách. Zjistíš, co znamení různé pojmy typické pro vysoké školy.</p></li>
  </ul>

  <h3>Pravidla semináře</h3>
  <p>
    Při řešení úloh, ať už malých, či velkých, dodržuj etická pravidla semináře:
  </p>

  <ol>
    <li>
      <p><strong>Všechna řešení musí být vypracována samostatně.</strong></p>
      <p>Opisování, stejně jako vyzrazení řešení, bude hodnoceno 0 body a odebráním možnosti stát se v&nbsp;aktuálním
        ročníku úspěšným řešitelem (za úspěšné považujeme jen ty, kteří nepodvádějí).</p>
      <p>S&nbsp;kamarády můžeš o&nbsp;úloze diskutovat, ale jen do míry <i>encyklopedických
        znalostí</i>. Můžeš se tedy třeba bavit o&nbsp;tom, jakou složitost má algoritmus Quick sort, ale nemůžeš společně
        s&nbsp;kamarádem řešit programovací úlohu.</p>
    </li>

    <li>
      <p><strong>Externí zdroje cituj.</strong></p>
      <p>Pokud používáš při řešení nějaký externí zdroj (literaturu, webovou stránku, konzultaci s&nbsp;kamarádem, apod.)
        a čerpáš odtud nějakou klíčovou myšlenku, nebo třeba kus textu, musíš tento zdroj uvést formou odkazu, na základě
        kterého budeme moct tento zdroj dohledat.</p></li>
  </ol>

  <h2>FAQ</h2>

  <div class="faq-container">
    <div class="question">Som Slovák. Môžem písať riešenie v&nbsp;slovenčine?</div>
    <div class="answer">
      Jistě. V&nbsp;organizátorském týmu máme dokonce několik Slováků, takže se slovenština <span
      style="text-decoration: line-through;">občas
    objeví</span> pravidelně objevuje i&nbsp;v&nbsp;zadání.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Mohu řešit Naskoč i&nbsp;když nejsem studentem FI MU?</div>
    <div class="answer">
      Ano, Naskoč na FI může řešit kdokoli.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Kdo Naskoč organizuje a podporuje?</div>
    <div class="answer">
      Naskoč na FI je organizováno studenty a pedagogy Fakulty informatiky Masarykovy univerzity. Mezi organizátory Naskoč jsou též
      studenti jiný vysokých škol.
    </div>
  </div>
  <hr>

  <p>Máš jinou otázku, na kterou ti zde chybí odpověď? Neváhej nám napsat na <a href="mailto:naskocfi.muni.cz">naskoc@fi.muni.cz</a>.</p>
</article>
