<article>
  <h2>O KSI</h2>
  <p>KSI, neboli Korespondenční seminář z&nbsp;informatiky, je celoroční soutěž organizovaná primárně studenty Fakulty
    informatiky Masarykovy univerzity. Cílem semináře je seznámit řešitele se zajímavými oblastmi informatiky a&nbsp;procvičit
    programátorské, matematické a&nbsp;logické myšlení.
    Seminář je uzpůsoben jak pro úplné začátečníky, kteří si na jednoduchých příkladech procvičí danou problematiku, tak
    pro zkušenější řešitele, kteří se pokusí pokořit hlavní soutěžní úlohy.
  </p>

  <h3>Jak seminář probíhá?</h3>
  <p>
    Středobodem semináře je graf úloh, který se snažíš projít a&nbsp;po cestě vyřešit co nejvíce úloh zvládneš.
    Některé části grafu představují základní myšlenky, pojmy a&nbsp;postupy a&nbsp;obsahují jednoduché úlohy, jejichž
    správnost se vyhodnocuje okamžitě automaticky.
    Jiné obsahují hlavní soutěžní úlohy, na jejichž vyřešení a&nbsp;sepsání máš zhruba jeden měsíc.
    Po termínu odevzdání se úloha uzamkne, my tvoje řešení opravíme, přidělíme ti za něj body, poskytneme ti k němu
    zpětnou vazbu a&nbsp;zveřejníme vzorové řešení úlohy.
    Soutěžní úlohy jsou pak různého charakteru a&nbsp;zatímco nejjednodušší úlohy by po projití úvodních uzlů grafu měl
    zvládnout každý, nad tou nejtěžší se může zapotit i&nbsp;ostřílený řešitel programátorských soutěží. Úlohy jsou
    zveřejňovány postupně během celého ročníku v několika tématických vlnách.
  </p>

  <p>
    S&nbsp;ostatními účastníky i&nbsp;organizátory semináře se můžeš během roku potkat na několika výletech.
    Koncem školního roku pak vyhlásíme výsledky a&nbsp;nejlepší řešitele pozveme na <a href="https://kscuk.fi.muni.cz/">týdenní
    soustředění K-SCUK</a>.
    Šikovní řešitelé semináře mají možnost si nechat prominout přijímací zkoušku na Fakultu informatiky MU. (přesná pravidla níže)
  </p>

  <h3>Jaké úlohy mám očekávat?</h3>
  <p>
    Tvým úkolem ve většině úloh bude řešení algoritmického či programátorského problému.
    Někdy bude stačit popsat řešení jen obecně pomocí pseudokódu, jindy po tobě budeme chtít i&nbsp;program v&nbsp;Pythonu.
    Pokud programovat neumíš nebo programuješ v&nbsp;jiném jazyce, nemusíš se ničeho bát.
    Python tě pomocí cvičných příkladů rychle naučíme.
    Vždyť přece kolik jazyků umíš, tolikrát jsi člověkem. ;)
  </p>
  <p>Některé z&nbsp;našich úloh mohou být složité nebo pracné, i&nbsp;když s&nbsp;dobrým nápadem se většinou dají vyřešit
    rychle a&nbsp;elegantně. Není třeba vyřešit všechny úlohy – pošli nám, co zvládneš, a&nbsp;zbytek si po uzavření úlohy
    můžeš přečíst ve vzorovém řešení. Také není nutné, abys měl(a) úlohu kompletně dořešenou. I&nbsp;pokud máš jen nějaké
    nápady co s&nbsp;ní, napiš nám je a&nbsp;my tvoji snahu určitě oceníme.</p>

  <h3>Proč se účastnit?</h3>
  <ul>
    <li><p>Procvičíš si programátorské, matematické a&nbsp;logické myšlení a&nbsp;schopnost řešit nelehké problémy s&nbsp;využitím
      počítače. Získáš nové znalosti a&nbsp;naučíš se algoritmy běžně používané v&nbsp;každodenní programátorské
      praxi.</p></li>

    <li><p>Naučíš se své myšlenky jasně formulovat a&nbsp;srozumitelně vyjadřovat.</p></li>

    <li><p>Připravíš se na programátorské i&nbsp;jiné soutěže, např. na matematickou olympiádu kategorie&nbsp;P, ale také
      na budoucí přijímací zkoušky či pohovory. Trénink je základ úspěchu!</p></li>

    <li><p>Přiblíží se ti látka vyučovaná na vysokých školách. Dokážeš se lépe rozhodnout, co chceš studovat, a&nbsp;pokud
      se rozhodneš pro informatiku, získáš mírný náskok na své budoucí spolužáky.</p></li>

    <li><p>Budeš-li patřit mezi úspěšné řešitele, můžeš se těšit na přijetí na Fakultu informatiky MU bez přijímacích
      zkoušek. (podrobněji níže)</p></li>

    <li><p>A&nbsp;hlavně, když budeš svědomitě řešit, jistě tě nemine odměna v&nbsp;podobě <a
      href="https://kscuk.fi.muni.cz/">týdenního soustředění</a>.</p></li>

  </ul>

  <h3>Pravidla semináře</h3>
  <p>
    Při řešení úloh, ať už malých, či velkých, dodržuj etická pravidla semináře:
  </p>

  <ol>
    <li>
      <p><strong>Všechna řešení musí být vypracována samostatně.</strong></p>
      <p>Opisování, stejně jako vyzrazení řešení, bude hodnoceno 0 body a odebráním možnosti stát se v&nbsp;aktuálním
        ročníku úspěšným řešitelem (za úspěšné považujeme jen ty, kteří nepodvádějí).</p>
      <p>S&nbsp;kamarády nebo třeba učiteli můžeš o&nbsp;úloze diskutovat, ale jen do míry <i>encyklopedických
        znalostí</i>. Můžeš se tedy třeba bavit o&nbsp;tom, jakou složitost má algoritmus Quick sort, ale nemůžeš společně
        s&nbsp;kamarádem řešit programovací úlohu.</p>
    </li>

    <li>
      <p><strong>Externí zdroje cituj.</strong></p>
      <p>Pokud používáš při řešení nějaký externí zdroj (literaturu, webovou stránku, konzultaci s&nbsp;kamarádem, apod.)
        a čerpáš odtud nějakou klíčovou myšlenku, nebo třeba kus textu, musíš tento zdroj uvést formou odkazu, na základě
        kterého budeme moct tento zdroj dohledat.</p></li>
  </ol>

  <h2>Kalendář akcí KSI</h2>
  <p>
    Významné akce KSI, jako Ksílety nebo termíny odevzdání úloh, zaznamenáváme do
    <a href="https://calendar.google.com/calendar/embed?src=07cn4qi2qm1g3rtpuls78dmsbg%40group.calendar.google.com"
       target="_blank">Google kalendáře KSI</a>. Tento kalendář si můžeš <a
    href="https://calendar.google.com/calendar/render?cid=07cn4qi2qm1g3rtpuls78dmsbg@group.calendar.google.com#main_7"
    target="_blank">importovat</a>.
  </p>

  <h2>FAQ</h2>

  <div class="faq-container">
    <div class="question">Som Slovák. Môžem písať riešenie v&nbsp;slovenčine?</div>
    <div class="answer">
      Jistě. V&nbsp;organizátorském týmu máme dokonce několik Slováků, takže se slovenština <span
      style="text-decoration: line-through;">občas
    objeví</span> pravidelně objevuje i&nbsp;v&nbsp;zadání.
    </div>
  </div>


  <div class="faq-container">
    <div class="question">Dozvěděl jsem se o&nbsp;semináři pozdě, první vlna už proběhla. Je
      možné se ještě přihlásit do semináře?
    </div>
    <div class="answer">
      Jistě, do semináře se můžeš přihlásit kdykoli. Pouze se snižuje tvá šance stát se úspěšným řešitelem.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Jak je to s odpuštěním přijímacích zkoušek na FI díky řešitelství KSI?</div>
    <div class="answer">
      Šikovní řešitelé KSI mohou být přijati na Fakultu informatiky Masarykovy univerzity bez přijímacích zkoušek, a to dvěma způsoby:

      <ol>
        <li>
          Stát se úspěšným řešitelem (tedy získat celkem alespoň 60&nbsp;% bodů z celého ročníku).
        </li>
        <li>
          Získat celkově alespoň 70&nbsp;% bodů z nulté (tutoriálové) vlny a prvních tří řádných vln.
        </li>
      </ol>

      Dané kritérium je však nutné splnit <strong>před</strong> datem ukončení podání přihlášek (konec února). Tou dobou
      však ještě není vyhodnocena čtvrtá vlna. Proto je nutné buď využít druhé kritérium (70&nbsp;% bodů z prvních tří vln),
      nebo se stát úspěšným řešitelem (60&nbsp;% bodů z celého ročníku) již v některém z předchozích ročníků.
      <br><br>
      Pro prominutí dále existují dvě výjimky:
      <ul>
        <li>na FI jsou nově otevřena víceoborová studia s velmi omezeným počtem míst a nejsou na ně promíjeny
          přijímací zkoušky,</li>
        <li>tvé úspěšné řešitelství nesmí být starší více než dva roky. Pokud ses stal úspěšným řešitelem už v 1. ročníku
          střední školy, toto úspěšné řešitelství ti přijímací zkoušky nepromine. Od druháku výš už ano (a to ať splníš
          libovolnou ze dvou zmíněných podmínek).</li>
      </ul>

      Organizátoři KSI však nemohou hovořit za fakultu v otázce přijímacího řízení. Proto doporučujeme ověřit aktuální
      informace na <a href="https://www.fi.muni.cz/admission/info-bachelor.html.cs">oficiálních stránkách Fakulty
      informatiky MU</a>.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Jsem v maturitním ročníku. Mám šanci být přijat na FI skrze vyřešení KSI?</div>
    <div class="answer">
      Ano, ale je nutné získat alespoň 70&nbsp;% bodů z nulté a prvních tří řádných vln. 60&nbsp;% bodů z celého ročníku nelze získat
      včas před uzavřením přijímacího řízení.
      <br><br>
      Podej si žádost o prominutí přijímací zkoušky v řádném termínu. Pokud splníš podmínky uvedené výše a hlásíš se
      na jednooborové studium, budeš přijat.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Moho používat AI pro řešení úloh?</div>
    <div class="answer">
      <p>
      V KSI použítí AI nástrojů pro generování  kódu nezakazujeme, nicméně je potřeba k jejich využití přistupovat
      obezřetně a při dodržení tří podmínek:
      </p>
      <ul>
        <li>kód generovaný pomocí AI nesmí řešit hlavní část úlohy (viz pravidlo o podvádění)</li>
        <li>kód generovaný pomocí AI musí být ocitován (viz pravidlo o citacích), uvedení např. komentáře "Tato část kódu
          byla vygenerována pomocí GitHub Copilot" je pro potřeby KSI dostačující</li>
        <li>při dotazu ze strany organizátorů musíš umět vysvětlit, co přesně vygenerovaný kód dělá (musíš tedy vygenerovanému
          kódu rozumět)</li>
      </ul>
      <p>
        Zároveň je potřeba mít na paměti, že kód, který za tebe napíše AI je kód, jehož psaní si neprocvičíš
        (a procvičení psaní kódu je možná přesně to, co jako začínající programátor potřebuješ).
        Na druhou stranu ti AI může ukázat způsob, který tě zatím nenapadl a může ti tak pomoci naučit se něco nového.
        To, co je pro tebe přínosnější, necháme už na tvém vlastním zvážení. Při vytváření těchto pravidel jsme vycházeli
        i z <a target="_blank" href="https://www.muni.cz/o-univerzite/uredni-deska/stanovisko-k-vyuzivani-ai">Stanoviska k využívání AI</a> od MU.
      </p>
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Kolik bude v tomto ročníku semináře celkem bodů?</div>
    <div class="answer">
      Jelikož KSI připravujeme postupně během celého roku, nemůžeme dopředu říci,
      kolik přesně bodů bude celkem za všechny úlohy.
      Z tohoto důvodu se ti může mírně měnit procento splněných úloh na tvém profilu, jak s průběhem semináře postupně
      zpřesňujeme náš odhad. Změny v našem odhadu by ale neměly být příliš velké.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Mohu řešit KSI i&nbsp;když nejsem student střední školy?</div>
    <div class="answer">
      Ano, KSI může řešit kdokoli.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Kdo KSI organizuje a podporuje?</div>
    <div class="answer">
      KSI je organizováno studenty a pedagogy Fakulty informatiky Masarykovy univerzity. Mezi organizátory KSI jsou též
      studenti jiný vysokých škol.
      KSI má podporu v rámci projektu na podporu nadaných žáků základních a středních škol vypsaného MŠMT. Projekt je tedy
      spolufinancován státním rozpočtem České republiky.
    </div>
  </div>
  <hr>

  <p>Máš jinou otázku, na kterou ti zde chybí odpověď? Podívej se, jestli odpověď nenajdeš v letošní úloze
    <a [routerLink]="['/', routes.tasks._]">Vítej v KSI</a> a pokud ne, tak
    nám neváhej napsat na <a href="mailto:ksi@fi.muni.cz">ksi@fi.muni.cz</a>.</p>
</article>
