<article>
  <h2>O Naskoč na FI</h2>
  <p>Naskoč na FI je online seminář určený pro studenty nově nastupující na Fakultu informatiky Masarykovy univerzity.
    Cílem semináře je představit budoucím prvákům témata z informatiky a vysokoškolského prostředí, která jim ulehčí
    začátek studia.
  </p>

  <h3>Jak seminář probíhá?</h3>
  <p>Středobodem semináře je seznam úloh, kterým se snažíš projít a po cestě vyřešit co nejvíce úloh zvládneš. Při
    procházení grafu se postupně seznámíš se základními myšlenkami, pojmy a postupy a pomocí jednoduchých úloh si
    ověříš, že téma ovládáš. Úlohy jsou vyhodnocovány automaticky, takže svůj výsledek se dozvíš okamžitě.
  </p>
  <p>Témat probíraných v Naskoč je více a jsou uskupena do tzv. hald. Všechny haldy jsou přístupné nezávisle na sobě,
    což znamená, že pokud nějaké téma perfektně ovládáš, můžeš jej klidně přeskočit a věnovat se tomu, co je pro tebe
    přínosné.
  </p>
  <p>S ostatními účastníky i organizátory semináře můžeš diskutovat o postupu přímo u jednotlivých úloh, diskuze mezi
    řešiteli navzájem je velmi vítána.
    <strong>Neprozrazuj ale prosím v diskuzi řešení úloh.</strong>
  </p>

  <h3>Proč se účastnit?</h3>
  <ul>
    <li><p>Získáš znalosti, které se ti budou hodit při každodenním fungování na FI MU.</p></li>

    <li><p>Přiblíží se ti látka vyučovaná na vysokých školách.</p></li>

    <li><p>Zjistíš, co znamenají různé pojmy typické pro vysoké školy.</p></li>
  </ul>

  <h2>FAQ</h2>

  <div class="faq-container">
    <div class="question">Som Slovák. Môžem písať riešenie v&nbsp;slovenčine?</div>
    <div class="answer">
      Jistě. V&nbsp;organizátorském týmu máme dokonce několik Slováků, takže se slovenština pravidelně objevuje i&nbsp;v&nbsp;zadání.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Mohu řešit Naskoč i&nbsp;když nejsem studentem FI MU?</div>
    <div class="answer">
      Ano, Naskoč na FI může řešit kdokoli.
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Moho používat AI pro řešení úloh?</div>
    <div class="answer">
      <p>
      V Naskoč použítí AI nástrojů pro generování  kódu nezakazujeme, nicméně je potřeba k jejich využití přistupovat
      obezřetně a při dodržení tří podmínek:
      </p>
      <ul>
        <li>kód generovaný pomocí AI nesmí řešit hlavní část úlohy (viz pravidlo o podvádění)</li>
        <li>kód generovaný pomocí AI musí být ocitován (viz pravidlo o citacích), uvedení např. komentáře "Tato část kódu
          byla vygenerována pomocí GitHub Copilot" je pro potřeby KSI dostačující</li>
        <li>při dotazu ze strany organizátorů musíš umět vysvětlit, co přesně vygenerovaný kód dělá (musíš tedy vygenerovanému
          kódu rozumět)</li>
      </ul>
      <p>
        Zároveň je potřeba mít na paměti, že kód, který za tebe napíše AI je kód, jehož psaní si neprocvičíš
        (a procvičení psaní kódu je možná přesně to, co jako začínající programátor potřebuješ).
        Na druhou stranu ti AI může ukázat způsob, který tě zatím nenapadl a může ti tak pomoci naučit se něco nového.
        To, co je pro tebe přínosnější, necháme už na tvém vlastním zvážení. Při vytváření těchto pravidel jsme vycházeli
        i z <a target="_blank" href="https://www.muni.cz/o-univerzite/uredni-deska/stanovisko-k-vyuzivani-ai">Stanoviska k využívání AI</a> od MU.
      </p>
    </div>
  </div>

  <div class="faq-container">
    <div class="question">Kdo Naskoč organizuje a podporuje?</div>
    <div class="answer">
      Naskoč na FI je organizováno Spolkem přátel severské zvěře, organizátory Korespondenčního semináře z informatiky a
      dalšími studenty a pedagogy Fakulty informatiky Masarykovy univerzity, ale i jiných vysokých škol.
    </div>
  </div>
  <hr>

  <p>Máš jinou otázku, na kterou ti zde chybí odpověď? Neváhej nám napsat na <a href="mailto:naskocfi.muni.cz">naskoc@fi.muni.cz</a>.
  </p>
</article>
