<a class="list-group-item list-group-item-action list-item-task"
   *ngIf="task$ | async as task"
   [class.disabled]="(user.isLoggedIn$ | async) && task.state === 'locked'"
   [routerLink]="(user.isLoggedIn$ | async) && task.state === 'locked' ? undefined : ['/', routes.routes.tasks._, task.id]"
>
  <img
    [src]="task.icon"
    alt=""
    class="icon"
  >
  <span class="name" [innerHTML]="task.title"></span>
  <span class="description" [innerHTML]="task.intro"></span>
  <span class="deadline">
      {{'tasks.deadline' | translate}}: {{task.time_deadline | date}}
    </span>
</a>
