@import "src/app/styles/vars";
@import "src/app/styles/mixins";

form > *:not(:last-child) {
  margin-bottom: $ksi-margin;
}

.save-reply {
  margin-top: $ksi-margin;
}

.post-size {
  font-size: 0.8rem;
}
