@import "src/app/styles/vars";

:host {
  margin-top: $ksi-margin;

  .question {
    margin-bottom: $ksi-margin;

    .label, .answer {
      display: block;
      width: 100%;
    }
  }

  .submit {
    width: 100%;
  }
}

