@import "src/app/styles/vars";
@import "src/app/styles/mixins";

@include page-admin;

:host {
  .content {
    justify-self: center;

    > .title {
      margin: $ksi-margin;
      text-align: center;
    }

    .wave-selection {
      margin-bottom: $ksi-margin;
    }

    .tasks-table {
      position: relative;

      td {
        vertical-align: middle;
      }

      .table-head-row {
        position: sticky;
        top: 0;
      }

      .wave {
        > td {
          padding: 0;
          margin: 0;
          border: none;
        }

        padding: 0;
        background: $ksi-page-bg;
        border: none;

        .info {
          margin: $ksi-margin;
          margin-top: $ksi-margin-large;
          border-left: 2px solid $ksi-article-preview-border-fg;
          padding-left: $ksi-padding-small;

          .title {
            font-size: 1.5rem;
            margin-right: $ksi-margin-small;
          }
        }
      }

      .actions {
        display: flex;
        flex-wrap: wrap;
        gap: $ksi-padding-small;
      }

      .deploy-status {
        position: relative;
        display: block;

        transition: background-color 0.3s;

        &.blink {
          animation: blink 2s infinite linear;
        }

        @keyframes blink {
          0% {
            background-color: $ksi-orange-120;
          }

          25% {
            background-color: $ksi-orange-180;
          }

          75% {
            background-color: $ksi-orange-180;
          }

          100% {
            background-color: $ksi-orange-120;
          }
        }
      }
    }
  }
}
