<ksi-admin-sidebar></ksi-admin-sidebar>
<div class="content-container">
  <div class="content">
    <h2 class="title">{{'admin.root.tasks.title'|translate}}</h2>
    <table class="table table-striped table-responsive-md tasks-table" ksiTheme>
      <thead>
      <tr class="table-head-row">
        <th scope="col">{{'admin.tasks.head.id' | translate}}</th>
        <th scope="col">{{'admin.tasks.head.name' | translate}}</th>
        <th scope="col">{{'admin.tasks.head.author' | translate}}</th>
        <th scope="col">{{'admin.tasks.head.max-points' | translate}}</th>
        <th scope="col">{{'admin.tasks.head.last-deploy' | translate}}</th>
        <th scope="col">{{'admin.tasks.head.actions.title' | translate}}</th>
        <th scope="col">{{'admin.tasks.head.state' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let waveTasks of (waveTasks$ | async)">
        <tr class="wave">
          <td colspan="7">
            <div class="info">
              <span class="title">{{waveTasks.wave.caption}}</span>
              <span class="desc">({{waveTasks.wave.sum_points | translatePoints}}, {{waveTasks.wave.tasks_cnt}} {{'admin.tasks.wave.tasks'|translate}})</span>
            </div>
          </td>
        </tr>
        <ng-container *ngFor="let task$ of waveTasks.tasks">
          <tr  *ngIf="task$ | async as task" class="row-task">
            <td>
              <a [routerLink]="['/', routes.routes.tasks._, task.id]">{{task.id}}</a>
            </td>
            <td>
              <a [routerLink]="['/', routes.routes.tasks._, task.id]">
                {{task.title}}
              </a>
            </td>
            <td>
              <ksi-clickable-user-name [userId]="task.author"></ksi-clickable-user-name>
            </td>
            <td>{{task.max_score}}</td>
            <td>{{task.deploy_date | date: 'short'}}</td>
            <td class="actions">
              <button
                *ngIf="task.$canBeDeployed$ | async"
                [disabled]="deployDisable$ | async"
                class="btn btn-outline-primary btn-deploy"
                (click)="deployTask(task)"
              >{{'admin.tasks.head.actions.deploy'|translate}}</button>

              <button
                *ngIf="task.$canBeMerged$ | async"
                class="btn btn-outline-primary"
                (click)="mergeTask(task)"
              >{{'admin.tasks.head.actions.merge.title'|translate}}</button>
            </td>
            <td class="text-center">
              <div [class]="'clickable badge deploy-status badge-' + (task.deploy_status === 'done' ? 'success' : task.deploy_status === 'error' ? 'danger' : 'warning')"
                   [class.blink]="!task.$isStableDeployState"
                   tooltip="{{('admin.tasks.deploy.status.'+task.deploy_status) | translate}}"
                   (click)="showDeployLog(task)"
              >
                <ng-container [ngSwitch]="task.deploy_status">
                  <span *ngSwitchCase="'done'">{{icon.CHECKMARK}}</span>
                  <span *ngSwitchCase="'error'">{{icon.CROSS}}</span>
                  <span *ngSwitchDefault>{{icon.WARNING}}</span>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modalDeployLog>
  <ng-container *ngIf="deployLog$ | async as log; else deployLogLoading">
    <pre>
{{log.log}}
    </pre>
  </ng-container>
  <ng-template #deployLogLoading>
    ...
  </ng-template>
</ng-template>
