<h6 *ngIf="submittedFiles.length">{{'tasks.module.general.submitted-files'|translate}}</h6>
<ul>
  <li *ngFor="let file of submittedFiles">
    <code>{{file.filename}}</code>
    -
    <a class="clickable" (click)="downloadFile(file)">{{'tasks.module.general.download'|translate}}</a>,
    <a class="clickable" (click)="deleteFile(file)">{{'tasks.module.general.delete'|translate}}</a>
  </li>
</ul>

<h6 *ngIf="filesToUpload.length">{{'tasks.module.general.to-upload'|translate}}</h6>
<ul>
  <li *ngFor="let file of filesToUpload">
    <code>{{file.name}}</code> - <a class="clickable" (click)="cancelUpload(file)">{{'tasks.module.general.delete'|translate}}</a>
  </li>
</ul>

<div *ngIf="error$ | async as error" class="alert alert-danger">
  {{error | translate}}
</div>

<ng-container *ngIf="uploadedFile">
  <h6>{{'tasks.module.general.uploading'|translate}}</h6>
  <ul>
    <li>
      <code>{{uploadedFile.name}}</code>
      <progressbar class="d-inline-block" *ngIf="uploadedProgress$ | async as progress" [value]="progress"></progressbar>
    </li>
  </ul>
</ng-container>

<input #fileSelector style="display: none" type="file" [multiple]="true" (change)="filesSelected($event)">

<div class="buttons">
  <button
    class="btn btn-ksi"
    [disabled]="error$ | async"
    (click)="fileSelector.click()"
  >
    {{'tasks.module.general.select-file'|translate}}
  </button>
  <button
    class="btn btn-ksi"
    [disabled]="this.uploadedFile || (error$ | async) || !this.filesToUpload?.length"
    (click)="upload()"
  >
    {{'tasks.module.general.upload'|translate}}
  </button>
</div>
