@import "src/app/styles/vars";
@import "src/app/styles/mixins";

:host {
  .about {
    width: 100%;
    overflow: hidden;
    height: 450px;
    display: grid;
    padding-top: $ksi-padding;

    background-image: url("../../../../assets/img/welcome.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $ksi-navbar-bg;

    grid-template: "badges name"
                   "badges __";
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    justify-content: center;

    @media screen and (max-width: $ksi-max-mobile-width) {
      background-image: none;
      grid-template: "name"
                     "badges";
      height: auto;
      padding-bottom: $ksi-margin;
    }

    .name {
      position: relative;
      margin-top: $ksi-margin;
      grid-area: name;
      display: flex;
      justify-content: flex-start;
      margin-bottom: $ksi-margin;
      color: $ksi-white;
      text-shadow: 1px 1px 3px $ksi-blue-180;
      font-size: 2.3rem;

      > * {
        text-align: center;
        padding: 0 $ksi-padding $ksi-padding-small;
      }
    }

    .images {
      grid-area: badges;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      flex-direction: column;
      margin-left: $ksi-margin-large;

      > *:not(:last-child) {
        margin-bottom: $ksi-margin;
      }

      @media screen and (max-width: $ksi-max-mobile-width) {
        justify-content: space-around;
        align-items: center;
        margin-bottom: $ksi-margin-small;
        flex-direction: row;
      }

      align-items: center;
      flex-grow: 1;

      img {
        position: relative;
        cursor: pointer;
        height: 130px;
        transition: filter 0.2s;
        filter: brightness(0.95);

        @media screen and (max-width: $ksi-max-mobile-width) {
          height: 8rem;
        }

        &:not(:last-child) {
          margin-bottom: 8px;

          @media screen and (max-width: $ksi-max-mobile-width) {
            margin-right: $ksi-margin;
            margin-bottom: $ksi-margin-small;
            height: 5rem;
          }
        }

        &:hover, &.active {
          filter: brightness(1.1);
        }
      }
    }
  }

  .begin {
    padding: $ksi-padding;
    background-color: $ksi-navbar-bg;
    border-top: 1px solid $ksi-page-welcome-banner-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $ksi-max-mobile-width) {
      background-color: $ksi-page-welcome-banner-bg;
    }

    .subjects {
      display: flex;
      margin-top: $ksi-margin;
      flex-wrap: wrap;

      @media screen and (max-width: $ksi-max-mobile-width) {
        display: none;
      }

      > * {
        color: $ksi-navbar-fg;
        font-size: 1.5rem;
        display: inline-block;
        font-weight: bold;

        &.active {
          text-decoration: underline;
        }

        &:not(:last-child) {
          margin-right: $ksi-margin;
        }
      }
    }

    .tasks {
      width: 100%;
      max-width: 12cm;
      margin-bottom: $ksi-margin-small;

      > * {
        width: 100%;
        font-weight: bolder;
        @include round-corner;

        @media screen and (max-width: $ksi-max-mobile-width) {
          background-color: $ksi-blue-70;
        }

        &:hover {
          background: $ksi-blue-100;
        }
      }
    }
  }

  .about-carousel {
    display: block;
    padding: $ksi-margin;
    background: $ksi-navbar-bg;
    color: $ksi-white;

    slide {
      ::ng-deep {
        .item {
          width: 100%;
          display: flex;
          justify-content: center;

          .content {
            margin: $ksi-margin 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify-all;
            max-width: min(60%, 60ex);

            .btn-go {
              box-shadow: 2px 2px $ksi-orange-60;
              background: $ksi-orange-140;
              transition: background-color 0.2s;
              color: $ksi-blue-40;
              font-weight: bolder;
              @include round-corner;
              margin-top: $ksi-margin-large;
              min-width: 100%;

              &:hover {
                background: $ksi-orange-130;
              }
            }
          }
        }
      }
    }
  }

  .about-carousel-border {
    width: 100%;
    height: 0;
    border-bottom: 4px solid $ksi-page-welcome-banner-bg;
  }

  .articles-organisators-container {
    display: flex;

    @media screen and (max-width: $ksi-max-small-mobile-width) {
      flex-wrap: wrap;
    }

    .articles-container, .organisators-container {
      flex-grow: 1;
      min-width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header {
        margin: $ksi-margin 0 $ksi-margin-small;
        font-weight: bolder;
        font-size: 1.5rem;
        color: $ksi-header-fg;
      }
    }

    .articles {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100% - (2 * #{$ksi-padding}));
      padding: 0 $ksi-padding;

      .article {
        @include ksi-full-width;
      }
    }

    .organisators {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .frame-organisator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: $ksi-margin;
        cursor: pointer;

        .pic {
          height: 15em;
          border-radius: 50%;
        }

        .name {
          margin-top: $ksi-margin-small;
          font-weight: bolder;
          text-align: center;
          color: $ksi-header-fg;
        }
      }
    }
  }
}
