@import "src/app/styles/vars";
@import "src/app/styles/mixins";

:host {
  .content {
    display: inline;

    ::ng-deep {
      ksi-task-collapsible {
        display: block;
        margin: $ksi-margin 0;
      }

      figure {
        & > * {
          max-width: 100%;
        }

        text-align: center;
      }
    }
  }
}
