@import "../../../styles/vars";

form > *:not(:last-child) {
  margin-bottom: $ksi-margin;

  &.form-label {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
}

p {
  text-align: justify-all;
}
