@import "src/app/styles/vars";
@import "src/app/styles/mixins";

@include page-admin;

:host {
  .content {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      margin-bottom: $ksi-margin;
    }

    > .title {
      margin: $ksi-margin;
      text-align: center;
    }
  }
}
