@import "src/app/styles/vars";
@import "src/app/styles/mixins";

@include page-admin;

:host {
  .content-container {
    display: flex;
    flex-direction: column;

    .link {
      margin: $ksi-margin-small;
      text-align: right;
    }

    .frame {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
