<ksi-spinner *ngIf="loadRequest$" [source]="loadRequest$"></ksi-spinner>

<div class="content">
  <div *ngIf="(profilePicture$ | async) as url"  class="profile-picture">
    <input
      #pictureSelector
      style="display: none"
      type="file"
      (change)="uploadProfilePicture($event)"
      accept="image/*"
    >
    <button
      [disabled]="pictureUploadRequest$"
      class="btn btn-outline-primary edit"
      tooltip="{{'profile.my.change-picture'|translate}}"
      (click)="pictureSelector.click()"
    >{{icon.EDIT}}</button>
    <img class="picture" [src]="url" alt="">
  </div>
  <ksi-spinner *ngIf="pictureUploadRequest$" [source]="pictureUploadRequest$"></ksi-spinner>

  <ng-container *ngIf="(route.fragment | async) == routes.routes.profile.settings.password; else editProfile">
    <a
      class="link-subpage"
      routerLink="."
      [fragment]="undefined"
    >{{'profile.my.edit-profile'|translate}}</a>

    <h2>{{'profile.my.change-password'|translate}}</h2>
    <form class="form" [formGroup]="formPassword">
      <label class="form-label">{{'profile.my.account.password-current'|translate}}</label>
      <input
        type="password"
        placeholder="{{'profile.my.account.password-current'|translate}}"
        class="form-control"
        formControlName="current"
      >

      <label class="form-label">{{'profile.my.account.password'|translate}}</label>
      <input
        type="password"
        placeholder="{{'profile.my.account.password'|translate}}"
        class="form-control"
        formControlName="new"
      >

      <label class="form-label">{{'profile.my.account.password-repeat'|translate}}</label>
      <input
        type="password"
        placeholder="{{'profile.my.account.password-repeat'|translate}}"
        class="form-control"
        formControlName="repeat"
      >

      <ksi-spinner *ngIf="passwordEditSuccess$" [source]="passwordEditSuccess$"></ksi-spinner>

      <button
        class="btn btn-ksi btn-save w-100"
        [disabled]="!formPassword.valid || formPassword.disabled"
        (click)="changePassword()"
      >
        {{'profile.my.change-password'|translate}}
      </button>

      <ng-container *ngIf="(passwordEditSuccess$ | async) !== null">
        <p *ngIf="passwordEditSuccess$ | async; else passwordEditFailed"
          class="alert alert-success">
          {{'profile.my.password-change-success' | translate}}
        </p>
        <ng-template #passwordEditFailed>
          <p class="alert alert-danger">
            {{'profile.my.password-change-failed' | translate}}
          </p>
        </ng-template>
      </ng-container>
    </form>
  </ng-container>
  <ng-template #editProfile>
    <a
      class="link-subpage"
      routerLink="."
      [fragment]="routes.routes.profile.settings.password"
    >{{'profile.my.do-change-password'|translate}}</a>

    <form class="form" [formGroup]="formProfile">
      <!-- About me -->
      <h2>{{'profile.my.about-me.title'|translate}}</h2>

      <label class="form-label">{{'profile.my.about-me.first-name'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="firstName"
             [placeholder]="'profile.my.about-me.first-name'|translate"
      >
      <label class="form-label">{{'profile.my.about-me.last-name'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="lastName"
             [placeholder]="'profile.my.about-me.last-name'|translate"
      >
      <label class="form-label">{{'profile.my.about-me.sex.title'|translate}}</label>
      <select class="form-control" formControlName="sex">
        <option>{{'profile.my.about-me.sex.title'|translate}}</option>
        <option value="male">{{'profile.my.about-me.sex.male'|translate}}</option>
        <option value="female">{{'profile.my.about-me.sex.female'|translate}}</option>
      </select>


      <label class="form-label">{{'profile.my.about-me.nickname'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="nick"
             [placeholder]="'profile.my.about-me.nickname'|translate"
      >
      <label class="form-label">{{'profile.my.about-me.shirt-size'|translate}}</label>
      <select class="form-control" formControlName="shirtSize">
        <option value="NA">{{'profile.my.about-me.shirt-size'|translate}}</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
      </select>

      <label class="form-label">{{'profile.my.about-me.github'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="github"
             [placeholder]="'profile.my.about-me.github'|translate"
      >

      <label class="form-label">
        {{'profile.my.about-me.discord'|translate}}
        <ng-container *ngIf="discordInviteLink$ | async as link">
          -
          <a [href]="link" target="_blank">{{'profile.my.discord-join'|translate}}</a>
        </ng-container>
      </label>
      <input type="text"
             class="form-control"
             formControlName="discord"
             [placeholder]="'profile.my.about-me.discord'|translate"
      >

      <!-- Address -->
      <h2>{{'profile.my.address.title'|translate}}</h2>
      <label class="form-label">{{'profile.my.address.street'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="address"
             [placeholder]="'profile.my.address.street'|translate"
      >
      <label class="form-label">{{'profile.my.address.city'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="city"
             [placeholder]="'profile.my.address.city'|translate"
      >
      <label class="form-label">{{'profile.my.address.postal-code'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="postalCode"
             [placeholder]="'profile.my.address.postal-code'|translate"
      >
      <label class="form-label">{{'profile.my.address.country'|translate}}</label>
      <select class="form-control" formControlName="country">
        <option [value]="null">{{'profile.my.address.country'|translate}}</option>
        <option
          *ngFor="let country of (countries | keyvalue)"
          [value]="country.key"
        >{{country.value}}</option>
      </select>


      <!-- School -->
      <h2>{{'profile.my.school.title'|translate}}</h2>
      <label class="form-label">{{'profile.my.school.name'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="schoolName"
             [placeholder]="'profile.my.school.name'|translate"
      >
      <label class="form-label">{{'profile.my.school.end'|translate}}</label>
      <input type="number"
             class="form-control"
             formControlName="schoolEnd"
             [placeholder]="'profile.my.school.end'|translate"
      >

      <label class="form-label">{{'profile.my.address.street'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="schoolAddress"
             [placeholder]="'profile.my.address.street'|translate"
      >
      <label class="form-label">{{'profile.my.address.city'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="schoolCity"
             [placeholder]="'profile.my.address.city'|translate"
      >
      <label class="form-label">{{'profile.my.address.postal-code'|translate}}</label>
      <input type="text"
             class="form-control"
             formControlName="schoolPostalCode"
             [placeholder]="'profile.my.address.postal-code'|translate"
      >
      <label class="form-label">{{'profile.my.address.country'|translate}}</label>
      <select class="form-control" formControlName="schoolCountry">
        <option [value]="null">{{'profile.my.address.country'|translate}}</option>
        <option
          *ngFor="let country of (countries | keyvalue)"
          [value]="country.key"
        >{{country.value}}</option>
      </select>

      <ksi-spinner *ngIf="profileEditRequest$" [source]="profileEditRequest$"></ksi-spinner>

      <button
        class="btn btn-ksi btn-save w-100"
        [disabled]="!formProfile.valid || formProfile.disabled"
        (click)="updateUserInfo()"
      >
        {{'profile.my.save'|translate}}
      </button>
    </form>
  </ng-template>
</div>
