@import "src/app/styles/vars";
@import "src/app/styles/mixins";

:host {
  display: flex;
  justify-content: center;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 27cm;
    margin: $ksi-margin;

    .profile-picture {
      position: relative;
      margin-bottom: $ksi-margin;

      .btn {
        position: absolute;
        bottom: -8px;
        right: -8px;
      }

      .picture {
        @include round-corner;
        height: 16em;
      }
    }

    .link-subpage {
      margin: $ksi-margin;
    }

    .form {
      min-width: MIN(100%, 40ex);
    }

    h2 {
      margin: $ksi-margin-small;
      text-align: center;
    }

    .form-label {
      margin: $ksi-margin-small $ksi-margin-x-small 0;
      font-weight: bold;
    }

    .btn-save {
      margin: $ksi-margin 0;
    }
  }
}
