<div class="content">
  <form class="form" [formGroup]="form">
    <!-- About me -->
    <h2>{{'profile.my.about-me.title'|translate}}</h2>

    <label class="form-label">{{'profile.my.about-me.first-name'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="firstName"
           [placeholder]="'profile.my.about-me.first-name'|translate"
    >
    <label class="form-label">{{'profile.my.about-me.last-name'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="lastName"
           [placeholder]="'profile.my.about-me.last-name'|translate"
    >
    <label class="form-label">{{'profile.my.about-me.sex.title'|translate}}</label>
    <select class="form-control" formControlName="sex">
      <option>{{'profile.my.about-me.sex.title'|translate}}</option>
      <option value="male">{{'profile.my.about-me.sex.male'|translate}}</option>
      <option value="female">{{'profile.my.about-me.sex.female'|translate}}</option>
    </select>


    <label class="form-label">{{'profile.my.about-me.nickname'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="nick"
           [placeholder]="'profile.my.about-me.nickname'|translate"
    >
    <label class="form-label">{{'profile.my.about-me.shirt-size'|translate}}</label>
    <select class="form-control" formControlName="shirtSize">
      <option value="NA">{{'profile.my.about-me.shirt-size'|translate}}</option>
      <option value="XS">XS</option>
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
    </select>


    <!-- Address -->
    <h2>{{'profile.my.address.title'|translate}}</h2>
    <label class="form-label">{{'profile.my.address.street'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="address"
           [placeholder]="'profile.my.address.street'|translate"
    >
    <label class="form-label">{{'profile.my.address.city'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="city"
           [placeholder]="'profile.my.address.city'|translate"
    >
    <label class="form-label">{{'profile.my.address.postal-code'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="postalCode"
           [placeholder]="'profile.my.address.postal-code'|translate"
    >
    <label class="form-label">{{'profile.my.address.country'|translate}}</label>
    <select class="form-control" formControlName="country">
      <option [value]="null">{{'profile.my.address.country'|translate}}</option>
      <option
        *ngFor="let country of (countries | keyvalue)"
        [value]="country.key"
      >{{country.value}}</option>
    </select>


    <!-- School -->
    <h2>{{'profile.my.school.title'|translate}}</h2>
    <label class="form-label">{{'profile.my.school.name'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="schoolName"
           [placeholder]="'profile.my.school.name'|translate"
    >
    <label class="form-label">{{'profile.my.school.end'|translate}}</label>
    <input type="number"
           class="form-control"
           formControlName="schoolEnd"
           [placeholder]="'profile.my.school.end'|translate"
    >

    <label class="form-label">{{'profile.my.address.street'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="schoolAddress"
           [placeholder]="'profile.my.address.street'|translate"
    >
    <label class="form-label">{{'profile.my.address.city'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="schoolCity"
           [placeholder]="'profile.my.address.city'|translate"
    >
    <label class="form-label">{{'profile.my.address.postal-code'|translate}}</label>
    <input type="text"
           class="form-control"
           formControlName="schoolPostalCode"
           [placeholder]="'profile.my.address.postal-code'|translate"
    >
    <label class="form-label">{{'profile.my.address.country'|translate}}</label>
    <select class="form-control" formControlName="schoolCountry">
      <option [value]="null">{{'profile.my.address.country'|translate}}</option>
      <option
        *ngFor="let country of (countries | keyvalue)"
        [value]="country.key"
      >{{country.value}}</option>
    </select>

    <ksi-spinner *ngIf="editRequest$" [source]="editRequest$"></ksi-spinner>

    <button
      class="btn btn-ksi btn-save w-100"
      [disabled]="!form.valid || form.disabled"
      (click)="updateUserInfo()"
    >
      {{'profile.my.save'|translate}}
    </button>
  </form>
</div>
