@import "src/app/styles/mixins";
@import "src/app/styles/vars";

:host {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 27cm;
    margin: $ksi-margin;

    &.mobile {
      flex-direction: column;
    }

    .left-panel {
      margin-top: $ksi-margin;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;

      .picture {
        @include round-corner;
        width: 25ex;
        margin-bottom: $ksi-margin-small;
      }

      .info {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: $ksi-margin-large;
        width: 25ex;

        > * {
          margin-top: $ksi-margin-x-small;
        }

        .name {
          font-weight: bold;
          line-height: 1;
        }
      }

      .contact {
        @include round-corner;
        background-color: $ksi-thumbnail-bg;
        color: $ksi-page-fg;
        margin: $ksi-margin-small $ksi-margin-x-small $ksi-margin-x-small;
      }
    }

    .right-panel {
      flex-grow: 2;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: $ksi-margin;

      .tasks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &.empty {
          margin: $ksi-margin;
        }
      }

      .trophies {
        --achievement-icon-size: 4em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: $ksi-margin;

        ksi-icon-achievement {
          margin-right: $ksi-margin-small;
        }
      }

      .stats {
        margin: $ksi-margin;

        .title {
          padding-top: $ksi-margin-small;
          margin-bottom: 0;
          font-size: 18px;
        }

        .numeric {
          display: flex;
          justify-content: space-between;

          .name {
            font-weight: $ksi-semibold;
          }
        }

        .prediction {
          font-size: 16px;
          margin-top: $ksi-margin-small;
        }
      }

      .progress {
        margin: $ksi-margin-small 0;
        height: 2em;
      }
    }
  }
}
