<div class="content" [class.mobile]="window.isMobileSmall$ | async">
  <ksi-spinner [source]="user$"></ksi-spinner>
  <ng-container *ngIf="user$ | async as user">
    <div class="left-panel">
      <img class="picture" [src]="user.profile_picture" alt="">
      <span class="info">
        <span class="name text-uppercase">
          {{user.$fullName}}
        </span>
        <span class="role"
              [tooltip]="('profile.seasons' | translateGender: user) + ': ' + (userSeasonsString$ | async)"
              tooltipPlacement="bottom"
        >
          <span class="text-capitalize">
            {{ user | translateSkillLevel }}
          </span>
          <span>
            {{ user | translateRole }}
          </span>
          <ng-container *ngIf="userService.isOrg$ | async">
            ({{user.role}})
          </ng-container>
        </span>
      </span>

      <div class="grant-successful" *ngIf="(userService.isAdmin$ | async)  && !(hasSuccessfulTrophy$ | async) && !user.$isOrg && !user.cheat">
        <button
          #grantSuccessfulButton
          class="btn btn-ksi w-100"
          (click)="grantSuccessfulTrophy(grantSuccessfulButton)"
        >
          {{'profile.grant-successful-trophy.button'|translate}}
        </button>
      </div>

      <div class="diploma" *ngIf="!user.$isOrg">
        <ng-container *ngIf="diplomaService.userHasDiploma(user) | async; else diplomaUpload">
          <button class="btn btn-ksi w-100" (click)="showDiploma()">{{'profile.diploma.show'|translate}}</button>
        </ng-container>
        <ng-template #diplomaUpload>
          <ng-container *ngIf="userService.isAdmin$ | async">
            <input #diplomaFileSelector style="display: none" type="file" [multiple]="false" (change)="uploadDiploma(user, $event, diplomaUploadButton)">
            <button #diplomaUploadButton class="btn btn-ksi w-100" (click)="diplomaFileSelector.click()">{{'profile.diploma.grant.button'|translate}}</button>
          </ng-container>
        </ng-template>
      </div>

      <div class="contact" *ngIf="!user.$isOrg">
        <table class="contact table table-borderless">
          <tbody>
          <tr *ngIf="user.email">
            <th scope="col">{{icon.EMAIL}}</th>
            <td><a [href]="'mailto:' + user.email">{{user.email}}</a></td>
          </tr>
          <tr>
            <th scope="col">{{icon.SCHOOL}}</th>
            <td>{{user.school_name}}</td>
          </tr>
          <tr>
            <th scope="col">{{icon.LOCATION}}</th>
            <td>{{countries[user.addr_country!] || countries[user.addr_country!.toUpperCase()] || user.addr_country}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="right-panel">
      <ng-container *ngIf="user.achievements.length">
        <h3>{{'profile.trophies' | translate}}</h3>
        <div class="trophies">
          <ksi-icon-achievement *ngFor="let ach of user.achievements" [achievementId]="ach"></ksi-icon-achievement>
        </div>
      </ng-container>

      <ng-container *ngIf="!user.$isOrg">
        <h3>{{'profile.stats.title' | translate}}</h3>
        <div class="stats" *ngFor="let stats of (userProgress$ | async); let first = first">
          <h4 class="title">{{stats.title}}</h4>
          <h5 class="prediction" *ngIf="first && (prediction$ | async) as prediction">
            <span *ngIf="user.successful" class="text-success">
              {{'profile.stats.prediction.positive' | translateGender: user}}
            </span>
            <span *ngIf="!user.successful && prediction.doable">
              {{'profile.stats.prediction.normal' | translate: {percent: prediction.percentFromTotalNeeded} }}
            </span>
            <span *ngIf="!user.successful && !prediction.doable">
              {{'profile.stats.prediction.negative' | translateGender: user}}
            </span>
          </h5>

          <div class="numeric">
            <div>
              <span class="name">{{'profile.stats.score' | translate}}:</span>
              {{stats.score}}
            </div>
            <div>
              <span class="name">{{'profile.stats.solved-count' | translate}}:</span>
              {{stats.tasksSolved}}
            </div>
          </div>

          <progressbar
            class="progress"
            [striped]="true"
            [value]="stats.bars"
          >
          </progressbar>
        </div>
      </ng-container>

      <div *ngIf="tasksWithScore$ | async as tasks">
        <h3>{{('profile.tasks.' + (user.$isOrg ? 'author' : 'participant')) | translateGender: user}}</h3>
        <div class="tasks" *ngIf="tasks && tasks.length; else noTasks">
          <ksi-profile-task-thumbnail
            *ngFor="let task of tasks"
            [taskId]="task.id"
            [score]="task.score"
          ></ksi-profile-task-thumbnail>
        </div>
        <ng-template #noTasks>
          <div class="tasks empty">
            {{'profile.tasks.no-yet' | translate: {name: user.first_name} }}
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #modalDiploma>
  <div class="modal-diploma" *ngIf="diplomaURL$ | async as url">
    <a [href]="url" [download]="'diploma.pdf'">{{'profile.diploma.modal.download'|translate}}</a>
    <pdf-viewer class="pdf" [src]="url" [render-text]="true" [original-size]="false" [zoom-scale]="'page-height'"></pdf-viewer>
  </div>
</ng-template>
