@import "src/app/styles/mixins";
@import "src/app/styles/vars";

:host {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 27cm;
    margin: $ksi-margin;

    &.mobile {
      flex-direction: column;
    }

    .left-panel {
      margin-top: $ksi-margin;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;

      .picture {
        @include round-corner;
        width: 25ex;
      }

      .info {
        text-align: center;
        display: flex;
        flex-direction: column;

        .name {
          font-weight: bold;
          line-height: 1;
          margin: $ksi-margin-small;
        }
      }
    }

    .right-panel {
      flex-grow: 2;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: $ksi-margin;

      .tasks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
